
# ===== IDE =====
.idea/
.vscode/

# ===== Go build =====
bin/*

# ===== Go module =====
vendor/

# ===== OS =====
.DS_Store

# ===== Logs =====
*.log

# ===== Local config =====
configs/config.*.yaml

